 <!-- /*lower-nav -->
 <nav class="navbar lower-nav navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <span class="mt-2"><mat-icon>store</mat-icon></span>
            <i class="fa-solid fa-store"></i>
            <a class="nav-link" href="#">Exhibitors</a>
          </li>
          <li class="nav-item">
            <span class="mt-2"><mat-icon>shopping_basket</mat-icon></span>
            <a class="nav-link" href="#"> Sales</a>
          </li>
          <li class="nav-item">
            <span class="mt-2"><mat-icon class="text-gray">calendar_today</mat-icon></span>
            <a class="nav-link" href="#">Program</a>
          </li>
          <li class="nav-item">
            <span class="mt-2"><mat-icon class="text-gray"> insert_drive_file</mat-icon></span>
            <a class="nav-link" href="#">Delegates</a>
          </li>
          <li class="nav-item">
            <span class="mt-2"><mat-icon class="text-gray">settings</mat-icon></span>
            <a class="nav-link" href="#">Settings</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- end -->
