<nav class="navbar upper-nav bg-body-tertiary">
    <div class="container-fluid justify-content-center justify-content-md-between gap-2">
      <a class="navbar-brand">Nor-Shipping 2019</a>
      <div class="d-flex gap-2 my-auto flex-wrap  justify-content-center">

        <ul class="statistics d-flex gap-4 align-content-center flex-wrap">
          <li><span>DEALS</span>
            <p>43</p>
          </li>
          <li><span>TOTAL VALUE [NOK]</span>
            <p>4.19 mln</p>
          </li>
          <li><span>HIT RATE</span>
            <p>10%</p>
          </li>
          <li><span>DEALS WON</span>
            <p>12/65</p>
          </li>
          <li><span>NEW CLIENTS</span>
            <p>8/12</p>
          </li>
        </ul>

        <div class="dropdown d-flex justify-content-sm-center align-items-center">
          <div class="img-wrapper" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-fluid w-100"
              src="https://images.unsplash.com/photo-1605728889698-432c237145a1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max">
          </div>
        </div>
      </div>
    </div>
  </nav>