
.mat-card:not([class*=mat-elevation-z]) {
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
          
                
}


.header span{
    font-size: 1rem;
    font-weight: 700;
}
.state {
    color: #fff;
    font-size: 0.6rem;
    display: inline-block;
    text-transform: uppercase;
    padding:0 0.6rem;
    background-color: #b3b0b0;
 
    
  }
  .text-gray{
    color: #b3b0b0;
    font-size: 1.2rem;
  }
  .info{
    color: #b3b0b0;
    font-size: 0.7rem;
  }